h1.titlehead {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1:not(.titlehead) {
    font-family: Arial, Helvetica, sans-serif;
}

h1.logo {
    background-image: linear-gradient(darkgray, gray);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 0px;
    margin-top: 10px;
}

h1.newupd {
    background-image: linear-gradient(darkgray, gray);
    border-radius: 10px;
}

section.upd1 {
    border-radius: 10px;
    background-image: linear-gradient(darkgray, gray);
    border-color: aliceblue;
}

img {
    image-resolution: 200dpi;
    image-rendering: pixelated;
}

.upd1tm {
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-left: 15px;
}

.upd1t {
    margin-bottom: -15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-left: 15px;
}

nav {
    background-image: linear-gradient(darkgray, gray);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


* button {
    border: none;
    margin-left: 15px;
    border-radius: 10px;
    background-image: linear-gradient(darkgray, gray);
}

* button:hover {
    background-image: linear-gradient(gray, darkgray);
}

* button:active {
    background-image: linear-gradient(rgb(87, 86, 86), rgb(128, 128, 128));
}

a {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 15px;
    font-size: 20px;
    color: white;
    background-image: linear-gradient(darkgray, gray);
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

* body {
    color: white;
}

a:hover {
    color: lightgray;
}

body {
    background-image: linear-gradient(rgb(201, 201, 201), rgb(230, 230, 230));
}

input {
    accent-color: rgb(96, 222, 12);
}

label {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
}

p.erar {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    text-align: center;
    font-style: initial;
}